.Weather {
  padding: 60px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather a {
  text-decoration: none;
}

.Weather .btn {
  background-color: #4154ff;
  color: #ffffff;
  right: 15px;
  top: 5px;
  border-radius: 20px;
  border: 0;
  color: #fff;
  width: 95px;
  height: 35px;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather .weather-forecast-temperature-min {
  opacity: 0.5;
}

.Weather .weather-forecast-temperature {
  font-size: 13px;
}

.Weather small .footer {
  margin-top: 200px;
}
